<footer>
    {% if arrows == 'noarrows' %}
        <div id="footer" class="align-vertically">
        </div>
    {% else %}
        <div id="footer" class="align-vertically">
            {% if prev_url %}
                {% with my_url=prev_url %}
                    <a class="pl-4 mr-auto" href="{% url my_url %}">
                        <span class="d-none d-sm-block"><i class="fas fa-backward"></i> {{ prev_page }}</span>
                        <span class="d-sm-none"><i class="fas fa-backward"></i> {{ prev_page_small }}</span>
                    </a>
                {% endwith %}
            {% endif %}
            {% if nexthidden == 'true' %}
                {% with my_url=next_url %}
                    {% if thistest %}
                        <form class="pr-4 ml-auto hiddlen" action="{% url next_url %}" id="test_answer" method="GET">
                            <input class="hiddlen" type="text" name="testanswer" id="testanswer">
                            <button class="border-0 hidden" type="submit" id="testanswerbtn">{{ next_page }} <i class="fas fa-forward"></i>
                            </button>
                        </form>
                    {% else %}
                        <a id="nextLink" class="pr-4 ml-auto hidden" href="{% url next_url %}">
                            <span class="d-none d-sm-block">{{ next_page }} <i class="fas fa-forward"></i></span>
                            <span class="d-sm-none">{{ next_page_small }} <i class="fas fa-forward"></i></span>
                        </a>#
                    {% endif %}
                {% endwith %}
            {% else %}
                <a class="pr-4 ml-auto" href="{% url next_url %}">
                    <span class="d-none d-sm-block">{{ next_page }} <i class="fas fa-forward"></i></span>
                    <span class="d-sm-none">{{ next_page_small }} <i class="fas fa-forward"></i></span>
                </a>
            {% endif %}
        </div>
    {% endif %}
</footer>