<!--navbar-->
<nav class="sticky-top">
    <!-- Home Modal -->
    <div class="mr-auto ml-0 d-inline">
            <img id="brandimage" src="{{ MEDIA_URL }}\assets\img\brandcuro.jpg" alt="curo brand image" 
            data-toggle="modal" data-target="#homeModal">
    </div>
    <!-- Help Modal -->
    <button type="button" id="helpbtn" class="btn ml-auto mr-0 d-inline float-right align-vertically" data-toggle="modal" data-target="#helpModal">
        help <i class="far fa-question-circle"></i>
    </button>
  </nav>
  