{% extends "basemodule002.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            <h1>Introduction to Damp and Mould</h1>
            <p class="paralarge">In this module, you will be introduced to the concepts of: 
                <span class="orange-highlight">Black Mould</span> and 
                <span class="orange-highlight">Condensation</span>, the causes of 
                Mould and Condensation, their treatments and steps to prevent them.</p>
            <p class="paramedium">Following the content, there is a test, made up of 10 questions to check your learning. The pass 
                mark is 70% (7 out of 10).</p>
            <p class="paramedium">Good Luck!</p>
            <button type="button" class="btn"><a href="{% url 'page001module002' %}">
                Click to Begin
                </a>
            </button>
        </section>
    {% endif %}
{% endblock %}