{% extends "basemodule002.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            <h1 class="pt-1 pb-1">Damp & Mould Survey</h1>
            <p class="paramedium">A Damp & Mould Survey can help you identify the causes of: Humidity, Condensation and Mould. Tap on the images to find out more...</p>
            <div class="row wastecontainer ml-auto mr-auto">
                <div class="wasteimagecontainer">
                    <img id="anemometer" onclick="return handleWaste('#anemometer');" 
                        src="{{ MEDIA_URL }}\module002\anemometer.jpg" alt="anemometer image">
                    <div class="imagefooter">Anemometer</div>
                </div>
                <div class="wasteimagecontainer">
                    <img id="hygrometer2" onclick="return handleWaste('#hygrometer2');" 
                        src="{{ MEDIA_URL }}\module002\hygrometer2.jpg" alt="hygrometer image">
                    <div class="imagefooter">Hygrometer</div>
                </div>
                <div class="wasteimagecontainer">
                    <img id="thermal2" onclick="return handleWaste('#thermal2');" 
                        src="{{ MEDIA_URL }}\module002\thermal2.jpg" alt="thermal imaging image">
                    <div class="imagefooter">Thermal Imaging</div>
                </div>
                <div class="wasteimagecontainer">
                    <img id="moisture" onclick="return handleWaste('#moisture');" 
                        src="{{ MEDIA_URL }}\module002\moisture.jpg" alt="moisture meter image">
                    <div class="imagefooter">Moisture Content</div>
                </div>
                <div class="wasteimagecontainer">
                    <img id="dampproof" onclick="return handleWaste('#dampproof');" 
                        src="{{ MEDIA_URL }}\module002\dampproof.jpg" alt="damp proof course image">
                    <div class="imagefooter">Damp Proof Course</div>
                </div>
                <div class="wasteimagecontainer">
                    <img id="mortar" onclick="return handleWaste('#mortar');" 
                        src="{{ MEDIA_URL }}\module002\mortar.jpg" alt="damamged mortar image">
                    <div class="imagefooter">Damaged Brickwork</div>
                </div>
                <div class="wasteimagecontainer">
                    <img id="vegetation" onclick="return handleWaste('#vegetation');" 
                        src="{{ MEDIA_URL }}\module002\vegetation.jpg" alt="vegetation image">
                    <div class="imagefooter">Vegetation</div>
                </div>
                <div class="wasteimagecontainer">
                    <img id="ventilation" onclick="return handleWaste('#ventilation');" 
                        src="{{ MEDIA_URL }}\module002\ventilation.jpg" alt="trickle vent image">
                    <div class="imagefooter">General Ventilation</div>
                </div>
            </div>

        <!-- Waste pop-up -->
            <div id="wastepopup">
                <h1 id="pophead">Transportation</h1>
                <p id="poppone" class="paralarge">Moving product or work around for no reason.</p>
                <p id="popptwo"  class="paramedium">In a restaurant, this might be; carrying all the 
                    meat downstairs to the cellar, only to have to carry it all back upstairs again to cook it.</p>
            <div class="wastepopupimagecontainer">
                <img id="wastepopupimage" 
                    src="{{ MEDIA_URL }}\module002\kettle2.jpg" alt="image to represent waste">
            </div>
                <p id="poppthree"  class="paramedium">Or a Customer being transferred from one department to another.</p>
                <button type="button" class="btn-blue mt-0" onclick="return popDownWaste();">
                    Close
                </button>
            </div>
        </section>
    {% endif %}
{% endblock %}