{% extends "basemodule002.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            <h1>Cold Surfaces</h1>
            <p class="paramedium pl-2 pr-2">In the earlier video, we saw that humidity in the air will condense in to water droplets when it meets a cold surface.
                Some of the more common cold surfaces include ...
            </p>
            <div class="d-inline">
                <span id="leftcarouselarrow">
                    <i class="fas fa-chevron-left" onclick="return prevImage(2);"></i>
                </span>
                <img id="valueimage" src="{{ MEDIA_URL }}\module002\window.jpg" alt="cold surface image" >
                <span id="rightcarouselarrow">
                    <i class="fas fa-chevron-right" onclick="return nextImage(2);"></i>
                </span>
            </div>
            <p id="imagedetail">Windows are one of the coldest surfaces in the home. 
                One way to minimise this; is for radiators to be located below windows.
            </p>
        </section>
    {% endif %}
{% endblock %}