{% extends "basemodule002.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            <p class="paralarge extrapadding">In addition to minimising: Humidity, Condensation and Cold Surfaces; Cleaning and Treating can help have an impact on Damp and Mould.</p>
            <div id="arrowcontainer" class="row">
                <div class ="col-4">
                    <div id="arrowvalue" class="align-vertically row">
                        <div class="arrowimagecontainer">
                            <img id="arrowimage" src="{{ MEDIA_URL }}\module002\trace.jpg" alt="trace mould image">
                        </div>
                        <div class="arrowimagecontainer">
                            As soon as a trace of mould is visible; spray with `black mould remover` and/or wipe with a cloth.
                        </div>
                    </div>
                    <div id="arrowmaskvalue"></div>
                </div>
                <div class ="col-4 mt-auto mb-auto">
                    <div onclick="return revealValue();" class="arrowtext">Cleaning</div>
                    <div class="arrowtextsmall">and</div>
                    <div onclick="return revealWaste();" class="arrowtext">Treating</div>
                </div>
                <div class ="col-4">
                    <div id="arrowwaste" class="align-vertically row">
                        <div class="arrowimagecontainer">
                            <img id="arrowimage" src="{{ MEDIA_URL }}\module002\paint.jpg" alt="anti mould paint image">
                        </div>
                        <div class="arrowimagecontainer">
                            If the mould is persistent, and returns too frequently to be manageable; anti mould paint can be used to slow the growth.
                        </div>
                    </div>
                    <div id="arrowmaskwaste"></div>
                </div>
            </div>
            <div>
                <p id="arrowsub" class="paramedium pt-3">Tap on each of them to see the definition ...</p>
            </div>
        </section>
    {% endif %}
{% endblock %}