{% extends "basemodule002.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            <div id="scrollone">
                <h1>Ventilation</h1>
                <div class="row">
                    <div class="col-lg-8">
                        <p class="paramedium">Creating condensation is unavoidable, so we need to be able to allow humid air to escape the home to be replaced by dry air from outside.</p>
                        <br>
                        <p  class="paramedium">Modern windows are usually fitted with 
                            <span class="orange-highlight">Trickle Vents</span>.
                            These vents allow small amounts of air to exchange without the need for mechanical extraction.
                        </p>
                    </div>
                    <div class="mr-auto ml-auto col-lg-4">
                            <img id="ohnoimage" src="{{ MEDIA_URL }}\module002\trickle.jpg" alt="trickle vent image">
                    </div>
                    <div class="col-lg-12">
                        <p  class="paralarge">According to the UK Government 
                            <a class="orange-highlight" target="_blank" href ="https://www.gov.uk/government/publications/home-user-guide-template/existing-home-ventilation-guide">website</a>
                            , trickle vents should be permanently open - even in winter.
                        </p>
                    </div>
                    <div id="downarrow" class="ml-auto mr-auto">
                        <i class="fas fa-chevron-down" onclick="return scrollDown();"></i>
                    </div>
                </div>
            </div>
            <div id="scrolltwo">
                <div id="uparrow">
                    <i class="fas fa-chevron-up mt-3" onclick="return scrollUp();"></i>
                </div>
                <div class="row">
                    <div class="mr-auto ml-auto col-lg-4">
                            <img id="ohnoimage" src="{{ MEDIA_URL }}\module002\extractor.jpg" alt="extractor fan image">
                    </div>
                    <div class="col-lg-8">
                        <p class="paramedium">
                            <span class="orange-highlight">Extractor Fans</span> 
                            are vital in  removing humid air, particularly in bathrooms and kitchens. they should be turned on whenever steam is being created, either by cooking or bathing.</p>
                        <br>
                        <p  class="paramedium"> If an extractor fan is available in a utility room; it should be used while a washing machine or tumble drier is operating.</p>
                    </div>
                    <div class="col-lg-12 pt-4">
                        <p  class="paralarge">The UK Government 
                            <a class="orange-highlight" target="_blank" href ="https://www.gov.uk/government/publications/home-user-guide-template/existing-home-ventilation-guide">website</a>
                            recommends they should be cleaned regularly.
                        </p>
                        <p  class="paramedium">A useful tip to determine whether a fan is not working; is to hold a piece of tissue paper in front of it, while it is switched on. If the paper doesn't stick to the fan, then it is not working.
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}