{% extends "basemodule002.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            {% if test_already_complete == 'true' %}
                <h1>Q9: The 8 Wastes - completed</h1>
                <p class="paralarge">Please go to the next question...</p>
            {% else %}
                <h1 class="pt-2 pb-2">Q9: The 8 Wastes</h1>
                <p class="paralarge">Re-order the descriptions to align to the item they describe ...</p>
                <div class="row ordercontainerouter ml-auto mr-auto">
                    <div class="col-6">
                        <div class="row ordercontainerleft">
                            <span class="orderboxheader ml-auto mr-auto mb-1">Items</span>
                            <div class="orderbox align-vertically" id="orderleft1">
                                VENTILATION
                            </div>
                            <div class="orderbox align-vertically" id="orderleft2">
                                HUMIDITY
                            </div>
                            <div class="orderbox align-vertically" id="orderleft3">
                                TEMPERATURE
                            </div>
                            <div class="orderbox align-vertically" id="orderleft4">
                                INSULATION
                            </div>
                            <div class="orderbox align-vertically" id="orderleft5">
                                SPORES
                            </div>
                            <div class="orderbox align-vertically" id="orderleft6">
                                CONDENSATION
                            </div>
                            <div class="orderbox align-vertically" id="orderleft7">
                                INGRESS
                            </div>
                            <div class="orderbox align-vertically" id="orderleft8">
                                EXTERNAL WALLS
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row ordercontainerright">
                            <span class="orderboxheader ml-auto mr-auto mb-1">Description</span>
                            <div class="orderbox" id="orderbox1" ondrop="order(event)" ondragover="allowDrop(event)">
                                <div class="ordercard align-vertically" id="ordercard1" draggable="true" ondragstart="dragOrder(event)" >
                                    are found in their thousands in the atmosphere
                                </div>
                            </div>
                            <div class="orderbox" id="orderbox2" ondrop="order(event)" ondragover="allowDrop(event)">
                                <div class="ordercard align-vertically" id="ordercard2" draggable="true" ondragstart="dragOrder(event)" >
                                    are colder because ambient air is on the other side
                                </div>
                            </div>
                            <div class="orderbox" id="orderbox3" ondrop="order(event)" ondragover="allowDrop(event)">
                                <div class="ordercard align-vertically" id="ordercard3" draggable="true" ondragstart="dragOrder(event)" >
                                    allows water from outside the home to get in
                                </div>
                            </div>
                            <div class="orderbox" id="orderbox4" ondrop="order(event)" ondragover="allowDrop(event)">
                                <div class="ordercard align-vertically" id="ordercard4" draggable="true" ondragstart="dragOrder(event)" >
                                    allows humid air to be replaced by fresh
                                </div>
                            </div>
                            <div class="orderbox" id="orderbox5" ondrop="order(event)" ondragover="allowDrop(event)">
                                <div class="ordercard align-vertically" id="ordercard5" draggable="true" ondragstart="dragOrder(event)" >
                                    is water vapour that has turned into water droplets
                                </div>
                            </div>
                            <div class="orderbox" id="orderbox6" ondrop="order(event)" ondragover="allowDrop(event)">
                                <div class="ordercard align-vertically" id="ordercard6" draggable="true" ondragstart="dragOrder(event)" >
                                    determines how much moisture the air can hold
                                </div>
                            </div>
                            <div class="orderbox" id="orderbox7" ondrop="order(event)" ondragover="allowDrop(event)">
                                <div class="ordercard align-vertically" id="ordercard7" draggable="true" ondragstart="dragOrder(event)" >
                                    reduces cold surfaces
                                </div>
                            </div>
                            <div class="orderbox" id="orderbox8" ondrop="order(event)" ondragover="allowDrop(event)">
                                <div class="ordercard align-vertically" id="ordercard8" draggable="true" ondragstart="dragOrder(event)" >
                                    measures how much water vapour there is in the air
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}