{% extends "basemodule002.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            {% if test_already_complete == 'true' %}
                <h1>Q5: Sources of Humidity - completed</h1>
                <p class="paralarge">Please go to the next question...</p>
            {% else %}
                <h1 class="pt-2 pb-2">Q5: Sources of Humidity</h1>
                <p class="paralarge">Drag each of these activities to the correct category ...</p>
                <div class="row dragcontainerouter ml-auto mr-auto">
                    <div class="col-4">
                        <div class="row dragcontainerleft">
                            <span class="dragboxheader align-vertically ml-auto mr-auto">Reduce Humidity?</span>
                            <div class="dragbox" id="dragleft1" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                            <div class="dragbox" id="dragleft2" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                            <div class="dragbox" id="dragleft3" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                            <div class="dragbox" id="dragleft4" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                            <div class="dragbox" id="dragleft5" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row dragcontainermid">
                            <span class="dragboxheader align-vertically ml-auto mr-auto">Activity</span>
                            <div class="dragbox">
                                <div class="dragcard align-vertically" id="dragcard1" draggable="true" ondragstart="drag(event)" >
                                    Set the thermostat to 19&deg;C to keep the temperature comfortable
                                </div>
                            </div>
                            <div class="dragbox">
                                <div class="dragcard align-vertically" id="dragcard2" draggable="true" ondragstart="drag(event)" >
                                    Open the bathroom door to let the steam out when showering
                                </div>
                            </div>
                            <div class="dragbox">
                                <div class="dragcard align-vertically" id="dragcard3" draggable="true" ondragstart="drag(event)" >
                                    Dry clothes on the living room radiator
                                </div>
                            </div>
                            <div class="dragbox">
                                <div class="dragcard align-vertically" id="dragcard4" draggable="true" ondragstart="drag(event)" >
                                    Open a window while cooking
                                </div>
                            </div>
                            <div class="dragbox">
                                <div class="dragcard align-vertically" id="dragcard5" draggable="true" ondragstart="drag(event)" >
                                    Turn extractor fan off to save electricity
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row dragcontainerright">
                            <span class="dragboxheader align-vertically ml-auto mr-auto">Increase Humidity?</span>
                            <div class="dragbox" id="dragright1" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                            <div class="dragbox" id="dragright2" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                            <div class="dragbox" id="dragright3" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                            <div class="dragbox" id="dragright4" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                            <div class="dragbox" id="dragright5" ondrop="drop(event)" ondragover="allowDrop(event)" >
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}