{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <section id="textsection">
        <h1>{% trans "Sign In" %}</h1>
        <p class="paralarge mb-xl-2 pb-0">
            <form class="login ml-auto mr-auto" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div>
                <a class="button secondaryAction orange-highlight" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
            <button class="primaryAction btn btn-blue" type="submit">{% trans "Sign In" %}</button>
            </form>
        </p>
    </section>

{% endblock %}
