{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<section id="textsection">
    <h1>{% trans "Sign Out" %}</h1>

    <p class="paralarge mb-xl-2 pb-0">{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="secondaryAction btn btn-blue" type="submit">{% trans 'Sign Out' %}</button>
    </form>
    
    <p class="paralarge mt-5 pb-0">or go to the <a class="orange-highlight" href="{% url 'home' %}">Home</a> page</p>
</section>

{% endblock %}
