{% extends "base.html" %}
{% load static %}

{% block content %}
    <section id="textsection">
        <h1>Password Reset</h1>
        <p class="paralarge mb-xl-2 pb-0">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail with a new password.</p>
        <form>
            <div class="passwordreset ml-auto mr-auto">
                <div class="modal-body">
                    <label class="mr-auto" for="email">Email address *(required)</label><br>
                    <input type="email" id="passwordemail" name="email" required>
                </div>
                <div class="ml-auto mr-auto">
                    <label class="mr-auto" for="submit">You will receive an email from continuous-engagement.com</label>
                </div>
                    <br>
                <div class="ml-auto mr-auto">
                    <button type="submit" id="submit" class="btn btn-blue mt-0" onclick="return passwordReset(this);" >Send</button>
                </div>
                <div class="resetpassword ml-auto mr-auto">
                    <textarea class="hidden" id="passwordmessage" rows="2" required>password reset</textarea>
                </div>
            </div>
        </form>
        <p>Please contact us if you have any trouble resetting your password.</p>
    </section>
{% endblock %}
