{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--Text Section-->
    <section id="textsection">
        <h1>Sign Up</h1>
        
        <p>Already have an account? Then please <a class="orange-highlight" href="{{ login_url }}">sign in</a>.</p>
        
        <form class="login ml-auto mr-auto" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">Sign Up</button>
        </form>
        
    </section>
{% endblock %}