{% extends "basemodule001.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            <h1>Making a chair</h1>
            <p class="paramedium">We'll step through an example now and decide if the steps in the process are: 
                Value or Waste (and if so, which of the 8 Wastes).</p>
            <div class="row examplecontainer ml-auto mr-auto">
                <div class="col-9 examplebox align-vertically pl-3">
                    <span id="examplestep" class="paramedium">1. First thing we need to do is get the wood from the truck and 
                        bring it to our workbench.</span>
                </div>
                <div class="col-3 examplebox align-vertically pr-3">
                    <span id="examplecarouselarrow">
                        <i class="fas fa-chevron-right" onclick="return nextExample();"></i>
                    </span>
                </div>
            </div>
            <p id="examplepara" class="paramedium">Is this step Value or Waste? If Waste, which of the 8 Wastes? Select from the 
                list below...</p>
            <select name="examplelist" id="examplelist" onchange="return exampleSelect(examplelist);">
                <option value="default" selected>select...</option>
                <option value="value">Value</option>
                <option value="transportation">Waste - Transportation</option>
                <option value="inventory">Waste - Inventory</option>
                <option value="motion">Waste - Motion</option>
                <option value="waiting">Waste - Waiting</option>
                <option value="overproduction">Waste - Overproduction</option>
                <option value="overprocessing">Waste - Overprocessing</option>
                <option value="defects">Waste - Defects</option>
                <option value="skills">Waste - Skills</option>
            </select>
        </section>
    {% endif %}
{% endblock %}