{% extends "basemodule001.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            <h1 class="pb-3">8 Wastes Online Test - Summary</h1>
            <p class="paralarge mb-xl-2">You have completed the test.</p>
            <div class="row extramarginbottom resultscontainer ml-auto mr-auto">
            {% if this_test_result %}
                <div class="col-xs ml-auto mr-auto">
                    {% for test in this_test_result %}
                        <p class="paramedium pb-0">Your score for {{ test.test }}<span class="white">0</span>1 is: <span id="answer1">{{ test.result }}</span></p>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <div>
                <p class="paralarge pb-md-1 mb-xl-1">Your overall score is: <span id="totalScore"></span></p>
            </div>
            <button id="retestbutton" type="button" class="btn btn-blue mt-0" onclick="return resetPrint();">Print Certificate</button>
        </section>
    {% endif %}
{% endblock %}