{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection">
            {% if this_test_result %}
                <p class="paralarge mb-xl-2 pt-3">You have completed {{ this_test_count }} out of 10 questions.</p>
                <div class="row extramarginbottom resultscontainer ml-auto mr-auto">
                    <div class="col-xs pt-3 ml-auto mr-auto">
                        {% for test in this_test_result %}
                            <p class="paramedium pb-0">Your score for Question {{ test.test|slice:'5:7' }} is: <span id="answer1">{{ test.result }}</span></p>
                        {% endfor %}
                    </div>
                    <div class="col-xs pt-3 ml-auto mr-auto">
                        <p class="paralarge pb-md-1 mb-xl-1"><span class="orange-highlight">Your overall score is: </span></p>
                        <p class="paralarge pb-md-1 mb-xl-1"><span id="totalScore">{{ test_score }}0%</span></p>
                    </div>
                </div>
                <button id="retestbutton" type="button" class="btn btn-blue mt-0" onclick="return resetPrint();">Print Summary</button>
            {% else %}
                <div class="col-xs ml-auto mr-auto">
                    <p class="paramedium pb-0">There was a problem retrieving your score ...<span class="white">0</span>1 is: <span id="answer1"></span></p>
                </div>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}