{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--Text Section-->
    <section id="textsection">
        {% if user.is_authenticated %}
            <h1>Welcome: {{ user.username }}</h1>
        {% else %}
            <h1>Welcome: Please sign in to continue</h1>
            <button type="button" class="btn">
                <a href ="{% url 'account_login' %}"> Sign In</a>
            </button>
        {% endif %}

        {% if user.is_authenticated %}
            <!--Text Section-->
            <section id="textsection">
                <h1>Introduction to the 8 Wastes</h1>
                <p class="paralarge">In this module, you will be introduced to the concepts of: 
                    <span class="orange-highlight">Value</span> and 
                    <span class="orange-highlight">Waste</span>, the 8 classifications of 
                    Waste, their meanings and examples to bring them to life.</p>
                <p class="paramedium">Following the content, there is a test, made up of 10 questions to check your learning. The pass 
                    mark is 70% (7 out of 10).</p>
                <p class="paramedium">Good Luck!</p>
                <button type="button" class="btn"><a href="background.html">
                    Click to Begin
                    </a>
                </button>
            </section>
            <button type="button" class="btn">
                <a href="{% url 'account_logout' %}"> Sign Out</a>
            </button>
        {% endif %}
    </section>
{% endblock %}