{% extends "basemodule1.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <!--Text Section-->
        <section id="textsection" class="row">
            <div class="col-xl-12">
                <h1>Background</h1>
            </div>
            <div class="col-xl-8">
                <p class="paralarge">The Japanese engineer, Taiichi Ohno identified that companies should spend more time on work that is useful, 
                productive and valuable to the  Customer, and minimise activity that is meaningless and wasteful.</p>
            </div>
            <div class="mr-auto ml-auto col-lg-4">
                    <img id="ohnoimage" src="{{ MEDIA_URL }}\module1\Taiichi_Ohno.jpeg" alt="Taiichi Ohno image">
            </div>
            <div class="col-xl-12">
                <p  class="paramedium">Ohno described Muda (Waste) in 7 categories (now 8), and how companies should identify and eliminate Waste to prosper.</p>
            </div>
        </section>
    {% endif %}
{% endblock %}